<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.pps.mapper.MyApplyOrderGoodsSkuMapper" >

    <!--采购申请单、销售申请单/商品规格关系-->

    <insert id="addApplyOrderGoodsSku" parameterType="com.yeta.pps.vo.ApplyOrderGoodsSkuVo">
        insert into
            apply_order_goods_sku_${storeId} (type, apply_order_id, goods_sku_id, quantity, finish_quantity, not_finish_quantity, money, discount_money, remark)
        values
            (#{type}, #{applyOrderId}, #{goodsSkuId}, #{quantity}, #{finishQuantity}, #{notFinishQuantity}, #{money}, #{discountMoney}, #{remark});
    </insert>

    <delete id="deleteApplyOrderGoodsSku" parameterType="com.yeta.pps.vo.ApplyOrderGoodsSkuVo">
        delete from apply_order_goods_sku_${storeId} where apply_order_id = #{applyOrderId};
    </delete>

    <update id="updateApplyOrderGoodsSku" parameterType="com.yeta.pps.vo.ApplyOrderGoodsSkuVo">
        update
            apply_order_goods_sku_${storeId}
        set
            finish_quantity = finish_quantity + #{changeQuantity},
            not_finish_quantity = not_finish_quantity - #{changeQuantity}
        where
            id = #{id}
        and
            #{changeQuantity} &lt;= not_finish_quantity
        and
            #{changeQuantity} + finish_quantity &lt;= quantity;
    </update>

    <select id="findAllApplyOrderGoodsSku" parameterType="com.yeta.pps.vo.ApplyOrderGoodsSkuVo" resultType="com.yeta.pps.po.ApplyOrderGoodsSku">
        select id, type, apply_order_id, goods_sku_id, quantity, finish_quantity, not_finish_quantity, money, discount_money, remark from apply_order_goods_sku_${storeId} where apply_order_id = #{applyOrderId};
    </select>

</mapper>