<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.pps.mapper.MyFundMapper" >

    <!--收/付款单-->

    <insert id="addFundOrder" parameterType="com.yeta.pps.vo.FundOrderVo">
        insert into
            fund_order_${storeId} (id, type, create_time, apply_order_id, order_status, bank_account_id, money, user_id, remark)
        values
            (#{id}, #{type}, #{createTime}, #{applyOrderId}, #{orderStatus}, #{bankAccountId}, #{money}, #{userId}, #{remark});
    </insert>

    <select id="findCountFundOrder" parameterType="com.yeta.pps.vo.FundOrderVo" resultType="java.lang.Integer">
        select
            count(0)
        from
            (
                (
                    (
                        fund_order_1 as fo
                        left join procurement_apply_order_1 as pao on fo.apply_order_id = pao.id
                    )
                    left join user_1 as u on fo.user_id = u.id
                )
                left join bank_account_1 as ba on fo.bank_account_id = ba.id
            )
        left join supplier_1 as s on pao.supplier_id = s.id
        where
        fo.type = #{type}
        <if test="id != null">
        and
            fo.id = #{id}
        </if>
        <if test="procurementApplyOrderVo.supplierName != null">
        and
            s.name like concat('%', #{procurementApplyOrderVo.supplierName}, '%')
        </if>
        <if test="procurementApplyOrderVo.startTime != null and procurementApplyOrderVo.endTime != null">
        and
            date(fo.create_time) between #{procurementApplyOrderVo.startTime} and #{procurementApplyOrderVo.endTime}
        </if>
        order by
            fo.create_time desc;
    </select>

    <resultMap id="fundOrderVoMap" type="com.yeta.pps.vo.FundOrderVo">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="apply_order_id" property="applyOrderId" />
        <result column="order_status" property="orderStatus" />
        <result column="money" property="money" />
        <result column="user_name" property="userName" />
        <result column="remark" property="remark" />
        <collection property="bankAccount" ofType="com.yeta.pps.po.BankAccount">
            <result column="ba_name" property="name" />
            <result column="ba_account" property="account" />
        </collection>
        <collection property="procurementApplyOrderVo" ofType="com.yeta.pps.vo.ProcurementApplyOrderVo">
            <result column="supplier_name" property="supplierName" />
        </collection>
    </resultMap>

    <select id="findAllPagedFundOrder" resultMap="fundOrderVoMap">
        select 
            fo.id,
            fo.type,
            fo.create_time,
            fo.apply_order_id,
            fo.order_status,
            ba.name as ba_name,
            ba.account as ba_account,
            fo.money,
            u.name as user_name,
            fo.remark,
            s.name as supplier_name
        from 
            (
                (
                    (
                        fund_order_1 as fo
                        left join procurement_apply_order_1 as pao on fo.apply_order_id = pao.id
                    )
                    left join user_1 as u on fo.user_id = u.id
                )
                left join bank_account_1 as ba on fo.bank_account_id = ba.id
            )
        left join supplier_1 as s on pao.supplier_id = s.id
        where
            fo.type = #{fundOrderVo.type}
        <if test="fundOrderVo.id != null">
        and
            fo.id = #{fundOrderVo.id}
        </if>
        <if test="fundOrderVo.procurementApplyOrderVo.supplierName != null">
        and
            s.name like concat('%', #{fundOrderVo.procurementApplyOrderVo.supplierName}, '%')
        </if>
        <if test="fundOrderVo.procurementApplyOrderVo.startTime != null and fundOrderVo.procurementApplyOrderVo.endTime != null">
        and
            date(fo.create_time) between #{fundOrderVo.procurementApplyOrderVo.startTime} and #{fundOrderVo.procurementApplyOrderVo.endTime}
        </if>
        order by
            fo.create_time desc
        limit
            #{pageVo.start}, #{pageVo.pageSize};
    </select>

</mapper>