<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.pps.mapper.MyProcurementMapper" >

    <!--采购申请订单-->

    <insert id="addApplyOrder" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo">
      insert into
            procurement_apply_order_${storeId} (id, type, create_time, result_order_id, order_status, clear_status, supplier_id, in_warehouse_id, in_total_quantity, in_received_quantity, in_not_received_quantity, out_warehouse_id, out_total_quantity, out_sent_quantity, out_not_sent_quantity, total_money, total_discount_money, order_money, cleared_money, not_cleared_money, user_id, remark)
        values
            (#{id}, #{type}, #{createTime}, #{resultOrderId}, #{orderStatus}, #{clearStatus}, #{supplierId}, #{inWarehouseId}, #{inTotalQuantity}, #{inReceivedQuantity}, #{inNotReceivedQuantity}, #{outWarehouseId}, #{outTotalQuantity}, #{outSentQuantity}, #{outNotSentQuantity}, #{totalMoney}, #{totalDiscountMoney}, #{orderMoney}, #{clearedMoney}, #{notClearedMoney}, #{userId}, #{remark});
    </insert>

    <delete id="deleteApplyOrder" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo">
        delete from procurement_apply_order_${storeId} where id = #{id};
    </delete>

    <update id="updateApplyOrder" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo">
        update
            procurement_apply_order_${storeId}
        set
            in_total_quantity = #{inTotalQuantity}, total_money = #{totalMoney}, total_discount_money = #{totalDiscountMoney}, order_money = #{orderMoney}
        where
            id = #{id};
    </update>

    <update id="updateApplyOrderRemark" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo">
        update procurement_apply_order_${storeId} set user_id = #{userId}, remark = #{remark} where id = #{id};
    </update>

    <update id="updateApplyOrderOrderStatusAndQuantity" parameterType="com.yeta.pps.vo.StorageOrderVo">
        update
            procurement_apply_order_${storeId}
        set
            order_status = #{orderStatus}
        <if test="type == 1 or type == 2">
            , in_received_quantity = in_received_quantity + #{quantity}, in_not_received_quantity = in_not_received_quantity - #{quantity}
        </if>
        <if test="type == 4">
            , out_sent_quantity = out_sent_quantity + #{quantity}, out_not_sent_quantity = out_not_sent_quantity - #{quantity}
        </if>
        where
            id = #{applyOrderId}
    </update>

    <update id="updateApplyOrderClearStatusAndMoney" parameterType="com.yeta.pps.vo.FundOrderVo">
        update
            procurement_apply_order_${storeId}
        set
            clear_status = #{orderStatus},
            cleared_money = cleared_money + #{money} + #{discountMoney} + #{advanceMoney},
            not_cleared_money = not_cleared_money - #{money} - #{discountMoney} - #{advanceMoney}
        where
            id = #{orderId}
    </update>

    <select id="findCountApplyOrder" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo" resultType="java.lang.Integer">
        select
            count(0)
        from
            (
                procurement_apply_order_${storeId} as pao
                left join supplier_${storeId} as s on pao.supplier_id = s.id
            )
            left join user_${storeId} as u on pao.user_id = u.id
        where pao.type = #{type}
        <if test="id != null">
            and pao.id = #{id}
        </if>
        <if test="supplierName != null">
            and s.name like concat('%', #{supplierName}, '%')
        </if>
        <if test="startTime != null and endTime != null">
            and date(pao.create_time) between #{startTime} and #{endTime}
        </if>
    </select>

    <select id="findAllPagedApplyOrder" resultType="com.yeta.pps.vo.ProcurementApplyOrderVo">
        select 
            pao.id,
            pao.type,
            pao.create_time,
            pao.result_order_id,
            pao.order_status,
            pao.clear_status,
            s.id as supplier_id,
            s.name as supplier_name,
            pao.in_warehouse_id,
            pao.in_total_quantity,
            pao.in_received_quantity,
            pao.in_not_received_quantity,
            pao.out_warehouse_id,
            pao.out_total_quantity,
            pao.out_sent_quantity,
            pao.out_not_sent_quantity,
            pao.total_money,
            pao.total_discount_money,
            pao.order_money,
            pao.cleared_money,
            pao.not_cleared_money,
            u.name as user_name,
            pao.remark
        from 
            (
                procurement_apply_order_${procurementApplyOrderVo.storeId} as pao
                left join supplier_${procurementApplyOrderVo.storeId} as s on pao.supplier_id = s.id
            )
        left join user_${procurementApplyOrderVo.storeId} as u on pao.user_id = u.id
        where pao.type = #{procurementApplyOrderVo.type}
        <if test="procurementApplyOrderVo.id != null">
            and pao.id = #{procurementApplyOrderVo.id}
        </if>
        <if test="procurementApplyOrderVo.supplierName != null">
            and s.name like concat('%', #{procurementApplyOrderVo.supplierName}, '%')
        </if>
        <if test="procurementApplyOrderVo.startTime != null and procurementApplyOrderVo.endTime != null">
            and date(pao.create_time) between #{procurementApplyOrderVo.startTime} and #{procurementApplyOrderVo.endTime}
        </if>
        order by pao.create_time desc
        limit #{pageVo.start}, #{pageVo.pageSize};
    </select>

    <select id="findApplyOrderById" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo" resultType="com.yeta.pps.po.ProcurementApplyOrder">
        select
            id, type, create_time, result_order_id, order_status, clear_status, supplier_id, in_warehouse_id, in_total_quantity, in_received_quantity, in_not_received_quantity, out_warehouse_id, out_total_quantity, out_sent_quantity, out_not_sent_quantity, total_money, total_discount_money, order_money, cleared_money, not_cleared_money, user_id, remark
        from
            procurement_apply_order_${storeId}
        where
            id = #{id};
    </select>

    <resultMap id="procurementApplyOrderVoMap" type="com.yeta.pps.vo.ProcurementApplyOrderVo">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="result_order_id" property="resultOrderId" />
        <result column="order_status" property="orderStatus" />
        <result column="clear_status" property="clearStatus" />
        <result column="supplier_id" property="supplierId" />
        <result column="supplier_name" property="supplierName" />
        <result column="in_warehouse_id" property="inWarehouseId" />
        <result column="in_total_quantity" property="inTotalQuantity" />
        <result column="in_received_quantity" property="inReceivedQuantity" />
        <result column="in_not_received_quantity" property="inNotReceivedQuantity" />
        <result column="out_warehouse_id" property="outWarehouseId" />
        <result column="out_total_quantity" property="outTotalQuantity" />
        <result column="out_sent_quantity" property="outSentQuantity" />
        <result column="out_not_sent_quantity" property="outNotSentQuantity" />
        <result column="total_money" property="totalMoney" />
        <result column="total_discount_money" property="totalDiscountMoney" />
        <result column="order_money" property="orderMoney" />
        <result column="cleared_money" property="clearedMoney" />
        <result column="not_cleared_money" property="notClearedMoney" />
        <result column="user_name" property="userName" />
        <result column="remark" property="remark" />
        <collection property="details" ofType="com.yeta.pps.vo.OrderGoodsSkuVo">
            <result column="ogs_id" property="id" />
            <result column="ogs_type" property="type" />
            <result column="ogs_goods_sku_id" property="goodsSkuId" />
            <result column="ogs_quantity" property="quantity" />
            <result column="ogs_finish_quantity" property="finishQuantity" />
            <result column="ogs_not_finish_quantity" property="notFinishQuantity" />
            <result column="ogs_money" property="money" />
            <result column="ogs_discount_money" property="discountMoney" />
            <result column="ogs_remark" property="remark" />
            <result column="g_name" property="goodsName" />
            <result column="g_id" property="goodsId" />
            <result column="g_bar_code" property="goodsBarCode" />
            <result column="gs_sku" property="goodsSkuSku" />
            <result column="gs_purchase_price" property="goodsSkuPurchasePrice" />
        </collection>
    </resultMap>

    <select id="findAllApplyOrderDetail" parameterType="com.yeta.pps.vo.ProcurementApplyOrderVo" resultMap="procurementApplyOrderVoMap">
        select
            pao.id,
            pao.type,
            pao.create_time,
            pao.result_order_id,
            pao.order_status,
            pao.clear_status,
            s.id as supplier_id,
            s.name as supplier_name,
            pao.in_warehouse_id,
            pao.in_total_quantity,
            pao.in_received_quantity,
            pao.in_not_received_quantity,
            pao.out_warehouse_id,
            pao.out_total_quantity,
            pao.out_sent_quantity,
            pao.out_not_sent_quantity,
            pao.total_money,
            pao.total_discount_money,
            pao.order_money,
            pao.cleared_money,
            pao.not_cleared_money,
            u.name as user_name,
            pao.remark,
            ogs.id as ogs_id,
            ogs.type as ogs_type,
            ogs.goods_sku_id as ogs_goods_sku_id,
            ogs.quantity as ogs_quantity,
            ogs.finish_quantity as ogs_finish_quantity,
            ogs.not_finish_quantity as ogs_not_finish_quantity,
            ogs.money as ogs_money,
            ogs.discount_money as ogs_discount_money,
            ogs.remark as ogs_remark,
            g.name as g_name,
            g.id as g_id,
            g.bar_code as g_bar_code,
            gs.sku as gs_sku,
            gs.purchase_price as gs_purchase_price
        from
            (
                (
                    (
                        (
                            procurement_apply_order_${storeId} as pao
                            left join supplier_${storeId} as s on pao.supplier_id = s.id
                        )
                        left join user_${storeId} as u on pao.user_id = u.id
                    )
                    left join order_goods_sku_${storeId} as ogs on pao.id = ogs.order_id
                )
                left join goods_sku_${storeId} as gs on ogs.goods_sku_id = gs.id
            )
        left join goods_${storeId} as g on gs.goods_id = g.id
        where
            1 = 1
        <if test="id != null">
            and pao.id = #{id}
        </if>
        <if test="supplierId != null">
            and pao.supplier_id = #{supplierId}
        </if>
        <if test="userId != null">
            and pao.user_id = #{userId}
        </if>
    </select>

    <!--采购结果订单-->

    <insert id="addResultOrder" parameterType="com.yeta.pps.vo.ProcurementResultOrderVo">
        insert into
            procurement_result_order_${storeId} (id, type, create_time, apply_order_id, order_status, total_quantity, total_money, total_discount_money, order_money, user_id, remark)
        values
            (#{id}, #{type}, #{createTime}, #{applyOrderId}, #{orderStatus}, #{totalQuantity}, #{totalMoney}, #{totalDiscountMoney}, #{orderMoney}, #{userId}, #{remark});
    </insert>

    <update id="redDashed" parameterType="com.yeta.pps.vo.ProcurementResultOrderVo">
        update procurement_result_order_${storeId} set order_status = -1 where id = #{id} and order_status &gt; 0;
    </update>

    <select id="findCountResultOrder" parameterType="com.yeta.pps.vo.ProcurementResultOrderVo" resultType="java.lang.Integer">
        select
            count(0)
        from
            (
                (
                    procurement_result_order_${storeId} as pro
                    left join procurement_apply_order_${storeId} as pao on pro.apply_order_id = pao.id
                )
                left join supplier_${storeId} as s on pao.supplier_id = s.id
            )
        left join user_${storeId} as u on pao.user_id = u.id
        where
            1 = 1
        <if test="id != null">
        and
            pro.id = #{id}
        </if>
        <if test="type != null">
        and
            pro.type = #{type}
        </if>
        <if test="procurementApplyOrderVo.supplierName != null">
        and
            s.name like concat('%', #{procurementApplyOrderVo.supplierName}, '%')
        </if>
        <if test="procurementApplyOrderVo.startTime != null and procurementApplyOrderVo.endTime != null">
        and
            date(pro.create_time) between #{procurementApplyOrderVo.startTime} and #{procurementApplyOrderVo.endTime}
        </if>
        order by
            pro.create_time desc;
    </select>

    <resultMap id="procurementResultOrderVoMap" type="com.yeta.pps.vo.ProcurementResultOrderVo">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="apply_order_id" property="applyOrderId" />
        <result column="order_status" property="orderStatus" />
        <result column="total_quantity" property="totalQuantity" />
        <result column="total_money" property="totalMoney" />
        <result column="total_discountMoney" property="totalDiscountMoney" />
        <result column="order_money" property="orderMoney" />
        <result column="user_name" property="userName" />
        <result column="remark" property="remark" />
        <collection property="procurementApplyOrderVo" ofType="com.yeta.pps.vo.ProcurementApplyOrderVo">
            <result column="pao_clear_status" property="clearStatus" />
            <result column="supplier_id" property="supplierId" />
            <result column="supplier_name" property="supplierName" />
            <result column="in_warehouse_id" property="inWarehouseId" />
            <result column="out_warehouse_id" property="outWarehouseId" />
        </collection>
    </resultMap>

    <select id="findAllPagedResultOrder" resultMap="procurementResultOrderVoMap">
        select 
            pro.id,
            pro.type,
            pro.create_time,
            pro.apply_order_id,
            pro.order_status,
            pro.total_quantity,
            pro.total_money,
            pro.total_discount_money,
            pro.order_money,
            u.name as user_name,
            pro.remark,
            pao.clear_status as pao_clear_status,
            s.id as supplier_id,
            s.name as supplier_name,
            pao.in_warehouse_id,
            pao.out_warehouse_id
        from 
            (
                (
                    procurement_result_order_${procurementResultOrderVo.storeId} as pro
                    left join procurement_apply_order_${procurementResultOrderVo.storeId} as pao on pro.apply_order_id = pao.id
                )
                left join supplier_${procurementResultOrderVo.storeId} as s on pao.supplier_id = s.id
            )
        left join user_${procurementResultOrderVo.storeId} as u on pro.user_id = u.id
        where
            1 = 1
        <if test="procurementResultOrderVo.id != null">
        and
            pro.id = #{procurementResultOrderVo.id}
        </if>
        <if test="procurementResultOrderVo.type != null">
        and
            pro.type = #{procurementResultOrderVo.type}
        </if>
        <if test="procurementResultOrderVo.procurementApplyOrderVo.supplierName != null">
        and
            s.name like concat('%', #{procurementResultOrderVo.procurementApplyOrderVo.supplierName}, '%')
        </if>
        <if test="procurementResultOrderVo.procurementApplyOrderVo.startTime != null and procurementResultOrderVo.procurementApplyOrderVo.endTime != null">
        and
            date(pro.create_time) between #{procurementResultOrderVo.procurementApplyOrderVo.startTime} and #{procurementResultOrderVo.procurementApplyOrderVo.endTime}
        </if>
        order by
            pro.create_time desc
        limit
            #{pageVo.start}, #{pageVo.pageSize};
    </select>

    <resultMap id="procurementResultOrderVoMap2" type="com.yeta.pps.vo.ProcurementResultOrderVo">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="apply_order_id" property="applyOrderId" />
        <result column="order_status" property="orderStatus" />
        <result column="total_quantity" property="totalQuantity" />
        <result column="total_money" property="totalMoney" />
        <result column="total_discount_money" property="totalDiscountMoney" />
        <result column="order_money" property="orderMoney" />
        <result column="user_name" property="userName" />
        <result column="user_id" property="userId" />
        <result column="remark" property="remark" />
        <collection property="procurementApplyOrderVo" ofType="com.yeta.pps.vo.ProcurementApplyOrderVo">
            <result column="clear_status" property="clearStatus" />
            <result column="supplier_id" property="supplierId" />
            <result column="supplier_name" property="supplierName" />
            <result column="in_warehouse_id" property="inWarehouseId" />
            <result column="out_warehouse_id" property="outWarehouseId" />
        </collection>
        <collection property="details" ofType="com.yeta.pps.vo.OrderGoodsSkuVo">
            <result column="ogs_id" property="id" />
            <result column="ogs_type" property="type" />
            <result column="ogs_goods_sku_id" property="goodsSkuId" />
            <result column="ogs_quantity" property="quantity" />
            <result column="ogs_finish_quantity" property="finishQuantity" />
            <result column="ogs_not_finish_quantity" property="notFinishQuantity" />
            <result column="ogs_money" property="money" />
            <result column="ogs_discount_money" property="discountMoney" />
            <result column="ogs_operated_quantity" property="operatedQuantity" />
            <result column="ogs_remark" property="remark" />
            <result column="g_name" property="goodsName" />
            <result column="g_id" property="goodsId" />
            <result column="g_bar_code" property="goodsBarCode" />
            <result column="gs_sku" property="goodsSkuSku" />
            <result column="gs_purchase_price" property="goodsSkuPurchasePrice" />
        </collection>
    </resultMap>

    <select id="findResultOrderDetailById" parameterType="com.yeta.pps.vo.ProcurementResultOrderVo" resultMap="procurementResultOrderVoMap2">
        select
            pro.id,
            pro.type,
            pro.create_time,
            pro.apply_order_id,
            pro.order_status,
            pro.total_quantity,
            pro.total_money,
            pro.total_discount_money,
            pro.order_money,
            pro.user_id,
            u.name as user_name,
            pro.remark,
            s.id as supplier_id,
            s.name as supplier_name,
            pao.clear_status,
            pao.in_warehouse_id,
            pao.out_warehouse_id,
            ogs.id as ogs_id,
            ogs.type as ogs_type,
            ogs.goods_sku_id as ogs_goods_sku_id,
            ogs.quantity as ogs_quantity,
            ogs.finish_quantity as ogs_finish_quantity,
            ogs.not_finish_quantity as ogs_not_finish_quantity,
            ogs.money as ogs_money,
            ogs.discount_money as ogs_discount_money,
            ogs.operated_quantity as ogs_operated_quantity,
            ogs.remark as ogs_remark,
            g.name as g_name,
            g.id as g_id,
            g.bar_code as g_bar_code,
            gs.sku as gs_sku,
            gs.purchase_price as gs_purchase_price
        from
            (
                (
                    (
                        (
                            (
                                procurement_result_order_${storeId} as pro
                                left join procurement_apply_order_${storeId} as pao on pro.apply_order_id = pao.id
                            )
                            left join supplier_${storeId} as s on pao.supplier_id = s.id
                        )
                      left join user_${storeId} as u on pro.user_id = u.id
                    )
                    left join order_goods_sku_${storeId} as ogs on ogs.order_id = pro.id
                )
                left join goods_sku_${storeId} as gs on ogs.goods_sku_id = gs.id
            )
        left join goods_${storeId} as g on gs.goods_id = g.id
        where
            pro.id = #{id};
    </select>

</mapper>