<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.pps.mapper.MyReportMapper" >

    <select id="findCountGoods" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="java.lang.Integer">
        select
            count(0)
        from
            (
                select
                    count(0)
                from
                    (
                        (
                            (
                                goods_${storeId} as g
                                inner join goods_type_${storeId} as gt on gt.id = g.type_id
                            )
                            inner join goods_sku_${storeId} as gs on gs.goods_id = g.id
                        )
                        inner join warehouse_goods_sku_${storeId} as wgs on wgs.goods_sku_id = gs.id
                    )
                inner join warehouse_${storeId} as w on w.id = wgs.warehouse_id
                where wgs.opening_money > 0
                <if test="id != null">
                    and g.id = #{id}
                </if>
                <if test="name != null">
                    and g.name like concat('%', #{name}, '%')
                </if>
                <if test="barCode != null">
                    and g.bar_code = #{barCode}
                </if>
                <if test="typeId != null">
                    and g.type_id = #{typeId}
                </if>
                group by g.id
            ) as temp;
    </select>

    <select id="findPagedGoods" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select
            g.id,
            g.name,
            g.bar_code,
            g.type_id,
            gt.name as type_name,
            g.image
        from
            (
                (
                    (
                        goods_${vo.storeId} as g
                        inner join goods_type_${vo.storeId} as gt on gt.id = g.type_id
                    )
                    inner join goods_sku_${vo.storeId} as gs on gs.goods_id = g.id
                )
                inner join warehouse_goods_sku_${vo.storeId} as wgs on wgs.goods_sku_id = gs.id
            )
        inner join warehouse_${vo.storeId} as w on w.id = wgs.warehouse_id
        where wgs.opening_money > 0
        <if test="vo.id != null">
            and g.id = #{vo.id}
        </if>
        <if test="vo.name != null">
            and g.name like concat('%', #{vo.name}, '%')
        </if>
        <if test="vo.barCode != null">
            and g.bar_code = #{vo.barCode}
        </if>
        <if test="vo.typeId != null">
            and g.type_id = #{vo.typeId}
        </if>
        group by g.id
        limit #{pageVo.start}, #{pageVo.pageSize};
    </select>

    <select id="findCountGoodsWarehouse" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="java.lang.Integer">
        select
            count(
                distinct g.id,
                g.name,
                g.bar_code,
                g.type_id,
                gt.name,
                g.image,
                wgs.warehouse_id,
                w.name
            )
        from
            (
                (
                    (
                        goods_${storeId} as g
                        inner join goods_type_${storeId} as gt on gt.id = g.type_id
                    )
                    inner join goods_sku_${storeId} as gs on gs.goods_id = g.id
                )
                inner join warehouse_goods_sku_${storeId} as wgs on wgs.goods_sku_id = gs.id
            )
        inner join warehouse_${storeId} as w on w.id = wgs.warehouse_id
        where wgs.opening_money > 0
        <if test="id != null">
            and g.id = #{id}
        </if>
        <if test="name != null">
            and g.name like concat('%', #{name}, '%')
        </if>
        <if test="barCode != null">
            and g.bar_code = #{barCode}
        </if>
        <if test="typeId != null">
            and g.type_id = #{typeId}
        </if>
    </select>

    <select id="findPagedGoodsWarehouse" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select distinct
            g.id,
            g.name,
            g.bar_code,
            g.type_id,
            gt.name as type_name,
            g.image,
            wgs.warehouse_id,
            w.name as warehouse_name
        from 
            (
                (
                    (
                        goods_${vo.storeId} as g
                        inner join goods_type_${vo.storeId} as gt on gt.id = g.type_id
                    )
                    inner join goods_sku_${vo.storeId} as gs on gs.goods_id = g.id
                )
                inner join warehouse_goods_sku_${vo.storeId} as wgs on wgs.goods_sku_id = gs.id
            )
        inner join warehouse_${vo.storeId} as w on w.id = wgs.warehouse_id
        where wgs.opening_money > 0
        <if test="vo.id != null">
            and g.id = #{vo.id}
        </if>
        <if test="vo.name != null">
            and g.name like concat('%', #{vo.name}, '%')
        </if>
        <if test="vo.barCode != null">
            and g.bar_code = #{vo.barCode}
        </if>
        <if test="vo.typeId != null">
            and g.type_id = #{vo.typeId}
        </if>
        limit #{pageVo.start}, #{pageVo.pageSize};
    </select>

    <select id="findProcurementIn" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select 
            sum(sco.in_quantity) - sum(sco.out_quantity) as procurement_in_quantity,
            sum(sco.in_total_money) - sum(sco.out_total_money) as procurement_in_money
        from 
            storage_check_order_${storeId} as sco
        inner join procurement_result_order_${storeId} as pro on pro.id = sco.order_id
        where date(sco.create_time) between #{startTime} and #{endTime}
        and sco.goods_id = #{id}
        <if test="warehouseId != null">
            and sco.warehouse_id = #{warehouseId}
        </if>
    </select>

    <select id="findOtherIn" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select
            sum(sco.in_quantity) - sum(sco.out_quantity) as other_in_quantity,
            sum(sco.in_total_money) - sum(sco.out_total_money) as other_in_money
        from
            storage_check_order_${storeId} as sco
        left join storage_result_order_${storeId} as sro on sro.id = sco.order_id
        where date(sco.create_time) between #{startTime} and #{endTime}
        and sco.goods_id = #{id}
        and
        (
            sro.type in (1, 3, 5)
            and sco.in_total_money != 0
            or sco.order_id = '期初调整'
        )
        <if test="warehouseId != null">
            and sco.warehouse_id = #{warehouseId}
        </if>
    </select>

    <select id="findSellOut" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select
            sum(sco.out_quantity) - sum(sco.in_quantity) as sell_out_quantity,
            sum(sco.out_total_money) - sum(sco.in_total_money) as sell_out_money
        from
            storage_check_order_${storeId} as sco
        inner join sell_result_order_${storeId} as sro on sro.id = sco.order_id
        where date(sco.create_time) between #{startTime} and #{endTime}
        and sco.goods_id = #{id}
        <if test="warehouseId != null">
            and sco.warehouse_id = #{warehouseId}
        </if>
    </select>

    <select id="findOtherOut" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select
            sum(sco.out_quantity) - sum(sco.in_quantity) as other_out_quantity,
            sum(sco.out_total_money) - sum(sco.in_total_money) as other_out_money
        from
            storage_check_order_${storeId} as sco
        left join storage_result_order_${storeId} as sro on sro.id = sco.order_id
        where date(sco.create_time) between #{startTime} and #{endTime}
        and sco.goods_id = #{id}
        and sro.type in (2, 4, 5)
        and sco.out_total_money != 0
        <if test="warehouseId != null">
            and sco.warehouse_id = #{warehouseId}
        </if>
    </select>

    <select id="findBeforeOrEnding" parameterType="com.yeta.pps.vo.StorageCheckOrderVo" resultType="com.yeta.pps.vo.StorageCheckOrderVo">
        select
            id, order_id, create_time, order_status, target_id, goods_id, goods_sku_id, warehouse_id, in_quantity, in_money, in_total_money, out_quantity, out_money, out_total_money, check_quantity, check_money, check_total_money, check_quantity1, check_money1, check_total_money1, check_quantity2, check_money2, check_total_money2, user_id
        from
            storage_check_order_${storeId} as sco
        where 1 = 1
        <if test="goodsId != null">
            and sco.goods_id = #{goodsId}
        </if>
        <if test="goodsSkuId != null">
            and sco.goods_sku_id = #{goodsSkuId}
        </if>
        <if test="warehouseId != null">
            and sco.warehouse_id = #{warehouseId}
        </if>
        <if test="flag == 1">
            and date(sco.create_time) &lt; #{startTime}
            order by sco.create_time desc
        </if>
        <if test="flag == 2">
            and date(sco.create_time) &lt;= #{endTime}
            order by sco.create_time desc
        </if>
        limit 1;
    </select>

    <select id="findAnalysis" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="com.yeta.pps.vo.ReportInventoryVo">
        select
            sum(sco.in_quantity) as total_in_quantity,
            sum(sco.in_total_money) as total_in_money,
            sum(sco.out_quantity) as total_out_quantity,
            sum(sco.out_total_money) as total_out_money
        from
            storage_check_order_${storeId} as sco
        inner join storage_result_order_${storeId} as sro on sro.id = sco.order_id
        where date(sco.create_time) between #{startTime} and #{endTime}
        and sco.goods_id = #{id}
        <if test="flag == 1">
            and sro.type in (1, 2);
        </if>
        <if test="flag == 2">
            and sro.type in (3, 4);
        </if>
    </select>

    <select id="findCountDetails" parameterType="com.yeta.pps.vo.ReportInventoryVo" resultType="java.lang.Integer">
        select
            count(0)
        from
            (
                (
                    (
                        (
                            (
                                (
                                    (
                                        (
                                            storage_check_order_${storeId} as sco
                                            left join procurement_result_order_${storeId} as pro on pro.id = sco.order_id
                                        )
                                        left join sell_result_order_${storeId} as sro on sro.id = sco.order_id
                                    )
                                    left join storage_result_order_${storeId} as sro1 on sro1.id = sco.order_id
                                )
                                left join goods_sku_${storeId} as gs on gs.id = sco.goods_sku_id
                            )
                            left join goods_${storeId} as g on g.id = gs.goods_id
                        )
                        left join supplier_${storeId} as s on s.id = sco.target_id
                    )
                    left join client as c on c.id = sco.target_id
                )
                left join user_${storeId} as u on u.id = sco.user_id
            )
        left join warehouse_${storeId} as w on w.id = sco.warehouse_id
        where date(sco.create_time) between #{startTime} and #{endTime}
        <if test="id != null">
            and g.id = #{id}
        </if>
        <if test="name != null">
            and g.name like concat('%', #{name}, '%')
        </if>
        <if test="barCode != null">
            and g.bar_code = #{barCode}
        </if>
        <if test="typeId != null">
            and g.type_id = #{typeId}
        </if>
        order by sco.create_time asc;
    </select>

    <select id="findPagedDetails" resultType="com.yeta.pps.vo.StorageCheckOrderVo">
        select
            sco.order_id,
            if (
            pro.type = 1,
            '采购入库单',
            if (
            pro.type = 2,
            '采购退货单',
            if (
            pro.type = 3,
            '采购换货单',
            if (
            sro.type = 1,
            '零售单',
            if (
            sro.type = 2,
            '销售出库单',
            if (
            sro.type = 3,
            '销售退货单',
            if (
            sro.type = 4,
            '销售换货单',
            if (
            sro1.type = 1,
            '其他入库单',
            if (
            sro1.type = 2,
            '其他出库单',
            if (
            sro1.type = 3,
            '报溢单',
            if (
            sro1.type = 4,
            '报损单',
            if (
            sro1.type = 5,
            '成本调价单',
            null
            )))))))))))) as type_name,
            sco.create_time,
            if (
            pro.apply_order_id is not null,
            pro.apply_order_id,
            if (
            sro.apply_order_id is not null,
            sro.apply_order_id,
            null
            )) as apply_order_id,
            if (
            c.name is not null,
            c.name,
            s.name
            ) as target_name,
            gs.sku as sku,
            sco.warehouse_id,
            w.name as warehouse_name,
            sco.in_quantity,
            sco.in_money,
            sco.in_total_money,
            sco.out_quantity,
            sco.out_money,
            sco.out_total_money,
            u.name as user_name,
            if (
            pro.remark is not null,
            pro.remark,
            if (
            sro.remark is not null,
            sro.remark,
            if (
            sro1.remark is not null,
            sro1.remark,
            null
            ))) as remark
        from
            (
                (
                    (
                        (
                            (
                                (
                                    (
                                        (
                                            storage_check_order_${vo.storeId} as sco
                                            left join procurement_result_order_${vo.storeId} as pro on pro.id = sco.order_id
                                        )
                                        left join sell_result_order_${vo.storeId} as sro on sro.id = sco.order_id
                                    )
                                    left join storage_result_order_${vo.storeId} as sro1 on sro1.id = sco.order_id
                                )
                                left join goods_sku_${vo.storeId} as gs on gs.id = sco.goods_sku_id
                            )
                            left join goods_${vo.storeId} as g on g.id = gs.goods_id
                        )
                        left join supplier_${vo.storeId} as s on s.id = sco.target_id
                    )
                    left join client as c on c.id = sco.target_id
                )
                left join user_${vo.storeId} as u on u.id = sco.user_id
            )
        left join warehouse_${vo.storeId} as w on w.id = sco.warehouse_id
        where date(sco.create_time) between #{vo.startTime} and #{vo.endTime}
        <if test="vo.id != null">
            and g.id = #{vo.id}
        </if>
        <if test="vo.name != null">
            and g.name like concat('%', #{vo.name}, '%')
        </if>
        <if test="vo.barCode != null">
            and g.bar_code = #{vo.barCode}
        </if>
        <if test="vo.typeId != null">
            and g.type_id = #{vo.typeId}
        </if>
        order by sco.create_time asc
        limit #{pageVo.start}, #{pageVo.pageSize};
    </select>

</mapper>