<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeta.pps.mapper.MyUserMapper">

    <insert id="add" parameterType="com.yeta.pps.vo.UserVo">
        insert into user_${storeId} (id, name, username, password, phone, disabled, remark) values (#{id}, #{name}, #{username}, #{password}, #{phone}, #{disabled}, #{remark});
    </insert>

    <delete id="delete" parameterType="com.yeta.pps.vo.UserVo">
        delete from user_${storeId} where id = #{id} and id != 'dcb71baaf38411e8b25b54ee75c0f47a';
    </delete>

    <update id="update" parameterType="com.yeta.pps.vo.UserVo">
        update user_${storeId} set name = #{name}, password = #{password}, phone = #{phone}, disabled = #{disabled}, remark = #{remark} where id = #{id};
    </update>

    <select id="findCount" parameterType="com.yeta.pps.vo.UserVo" resultType="java.lang.Integer">
        select
            count(distinct u.id)
        from
            user_${storeId} as u,
            role_${storeId} as r,
            user_role_${storeId} as ur
        where
            u.id = ur.user_id
        and
            r.id = ur.role_id
        <if test="roleId!=null">
            and r.id = #{roleId}
        </if>
        <if test="name!=null">
            and u.name like concat('%', #{name}, '%')
        </if>
    </select>

    <resultMap id="userVoMap" type="com.yeta.pps.vo.UserVo">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="phone" column="phone" />
        <result property="disabled" column="disabled" />
        <result property="remark" column="remark" />
        <collection property="roles" ofType="com.yeta.pps.po.Role">
            <id property="id" column="role_id" />
            <result property="name" column="role_name" />
        </collection>
    </resultMap>

    <select id="findAllPaged" resultMap="userVoMap">
        select
            u.id,
            u.name,
            u.username,
            u.password,
            u.phone,
            u.disabled,
            u.remark,
            r.id as role_id,
            r.name as role_name
        from 
            user_${userVo.storeId} as u,
            role_${userVo.storeId} as r,
            user_role_${userVo.storeId} as ur
        where 
            u.id = ur.user_id
        and
            r.id = ur.role_id
        <if test="userVo.roleId!=null">
            and r.id = #{userVo.roleId}
        </if>
        <if test="userVo.name!=null">
            and u.name like concat('%', #{userVo.name}, '%')
        </if>
        limit
            #{pageVo.start}, #{pageVo.pageSize};
    </select>

    <select id="findAll" parameterType="com.yeta.pps.vo.UserVo" resultMap="userVoMap">
        select
            u.id,
            u.name,
            u.username,
            u.password,
            u.phone,
            u.disabled,
            u.remark,
            r.id as role_id,
            r.name as role_name
        from
            user_${storeId} as u,
            role_${storeId} as r,
            user_role_${storeId} as ur
        where
            u.id = ur.user_id
        and
            r.id = ur.role_id
        <if test="roleId != null">
        and
            r.id = #{roleId}
        </if>
        <if test="name != null">
        and
            u.name = #{name}
        </if>
    </select>

    <select id="findById" parameterType="com.yeta.pps.vo.UserVo" resultMap="userVoMap">
        select
            u.id,
            u.name,
            u.username,
            u.password,
            u.phone,
            u.disabled,
            u.remark,
            r.id as role_id,
            r.name as role_name
        from
            user_${storeId} as u,
            role_${storeId} as r,
            user_role_${storeId} as ur
        where
            u.id = ur.user_id
        and
            r.id = ur.role_id
        and
            u.id = #{id};
    </select>

    <select id="findByUsernameAndPassword" parameterType="com.yeta.pps.vo.UserVo" resultType="com.yeta.pps.po.User">
        select id, name, username, password, phone, disabled, remark from user_${storeId} where username = #{username} and password = #{password};
    </select>

    <!---->

    <insert id="addUserRole" parameterType="com.yeta.pps.vo.UserRoleVo" useGeneratedKeys="true" keyProperty="id">
        insert into user_role_${storeId} (user_id, role_id) values (#{userId}, #{roleId});
    </insert>

    <delete id="deleteAllUserRole" parameterType="com.yeta.pps.vo.UserRoleVo">
        delete from user_role_${storeId} where user_id = #{userId} and user_id > 1;
    </delete>

    <select id="findUserRole" parameterType="com.yeta.pps.vo.UserRoleVo" resultType="com.yeta.pps.po.Role">
        select
            r.id,
            r.name
        from
            role_${storeId} as r,
            user_role_${storeId} as ur
        where
            r.id = ur.role_id
        and ur.user_id = #{userId};
    </select>

</mapper>