<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.pps.mapper.StoreMapper" >

    <resultMap id="BaseResultMap" type="com.yeta.pps.po.Store" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="add" parameterType="com.yeta.pps.po.Store" useGeneratedKeys="true" keyProperty="id">
        insert into store (name) values (#{name});
    </insert>

    <update id="updateUserId" parameterType="com.yeta.pps.po.Store">
        update store set user_id = #{userId} where id = #{id};
    </update>

</mapper>