<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.pps.mapper.SystemMapper">

    <insert id="addStoreSystem" parameterType="com.yeta.pps.po.SSystem">
        insert into system (store_id,
                            push_money_rate,
                            start_bill,
                            retail_warehouse_id,
                            retail_bank_account_id)
        values (#{storeId}, 6, 0, null, null);
    </insert>

    <delete id="deleteStoreSystem" parameterType="com.yeta.pps.po.SSystem">
        delete
        from system
        where store_id = #{storeId}
          and store_id &gt; 0;
    </delete>

    <select id="findSystem" resultType="com.yeta.pps.po.SSystem">
        select push_money_rate
        from system
        where store_id = 0;
    </select>

    <update id="updateSystem" parameterType="com.yeta.pps.po.SSystem">
        update system
        set push_money_rate = #{pushMoneyRate}
        where store_id = 0
          and #{pushMoneyRate} &gt;= 0;
    </update>

    <select id="findStartBill" parameterType="com.yeta.pps.po.SSystem" resultType="com.yeta.pps.po.SSystem">
        select store_id, start_bill
        from system
        where store_id = #{storeId}
          and store_id &gt; 0;
    </select>

    <update id="updateStartBill" parameterType="com.yeta.pps.po.SSystem">
        update system
        set start_bill = 1
        where store_id = #{storeId}
          and store_id &gt; 0
          and start_bill = 0;
    </update>

    <select id="findRetail" parameterType="com.yeta.pps.po.SSystem" resultType="com.yeta.pps.po.SSystem">
        select
        store_id, retail_warehouse_id, retail_bank_account_id
        from
        system
        where
        store_id = #{storeId}
        and store_id &gt; 0
        <if test="retailWarehouseId != null">
            and retail_warehouse_id = #{retailWarehouseId}
        </if>
        <if test="retailBankAccountId != null">
            and retail_bank_account_id = #{retailBankAccountId}
        </if>
    </select>

    <update id="updateRetail" parameterType="com.yeta.pps.po.SSystem">
        update system
        set retail_warehouse_id    = #{retailWarehouseId},
            retail_bank_account_id = #{retailBankAccountId}
        where store_id = #{storeId}
          and store_id &gt; 0;
    </update>

    <update id="systemRebuild" parameterType="com.yeta.pps.po.SSystem">
        delete
        from accounting_document_${storeId};
        update accounting_subject_${storeId}
        set fixed_assets_opening       = 0,
            assets_liabilities_opening = 0;
        update bank_account_${storeId}
        set opening_money = 0;
        delete
        from fund_check_order_${storeId};
        delete
        from fund_order_${storeId};
        delete
        from fund_result_order_${storeId};
        delete
        from fund_target_check_order_${storeId};
        delete
        from order_goods_sku_${storeId};
        delete
        from procurement_apply_order_${storeId};
        delete
        from procurement_result_order_${storeId};
        delete
        from sell_apply_order_${storeId};
        delete
        from sell_result_order_${storeId};
        delete
        from storage_check_order_${storeId};
        delete
        from storage_order_${storeId};
        delete
        from storage_result_order_${storeId};
        update store_client
        set advance_in_money_opening = 0,
            need_in_money_opening    = 0;
        update supplier_${storeId}
        set advance_out_money_opening = 0,
            need_out_money_opening    = 0;
        update system
        set start_bill = 0
        where store_id = #{storeId};
        update warehouse_goods_sku_${storeId}
        set real_inventory        = 0,
            not_sent_quantity     = 0,
            not_received_quantity = 0,
            can_use_inventory     = 0,
            book_inventory        = 0,
            opening_quantity      = 0,
            opening_money         = 0,
            opening_total_money   = 0;
    </update>
</mapper>